---
layout: 'base.njk'
---

<a href="/">The Plaintext Journal</a>
<article class="h-entry single-page">
    <h1 class="p-name">{{ title | safe }}</h2>
    <p class="e-content">{{ content | safe }}</p>
</article>