---
layout: 'base.njk'
---

{% include "home-button.njk" %}
<br><br><br>
{%- if type == "replyto" %}
    <article class="h-entry">
        <h2 class="p-name prefix--reply-to">Replying to "<a class="in-reply-to" href="{{ replyto }}">{{ title | safe }}"</a>{%- if mention %} by <span class="h-card">{{ mention }}</span>{% endif -%}</h2>
        <br>
        <p class="e-content">{{ content | safe }}</p>
        <a class="u-url" href="{{ url }}"><time class="dt-published">{{ page.date | asPostDate }}</time></a> 
    </article>
    <br><br><br>

{% elseif type == "likeof" -%}

    <article class="h-entry"><p class="e-content">♥ I liked "<a href="{{ likeof }}" class="u-like-of">{{ likeoftitle }}</a>"{%- if likeofauthor %} by {{ likeofauthor }}{% endif -%}</p></article>
    <a class="u-url" href="{{ url }}"><time class="dt-published">{{ page.date | asPostDate }}</time></a> 
    <br><br><br>

{% else %}

    <article class="h-entry">
        <h2 class="p-name">=== {{ title | safe }}</h2>
        <p class="e-content">{{ content | safe }}</p>
        <a class="u-url" href="{{ url }}"><time class="dt-published">{{ page.date | asPostDate }}</time></a> 
    </article>
    <br><br><br>

{% endif -%} 

{# <div id="webmention-form">
  <form id="webmention-form">
    <label for="source">> Your Webmention[<a href="https://indieweb.org/Webmention" class="ignore-external-link" title="Read what a Webmention is">?</a>] URL:&nbsp;</label>
    [<input type="text" id="source" name="source" placeholder="&block;">]&nbsp;
    <button type="button" onclick="sendWebMention()">Notify</button>
  </form>
  </div>
  <div id="response-message"></div>
<br><br> #}

<div id="webmentions"></div>

{# <script src="{{ '/assets/sendwebmention.js' | url }}" async></script> #}
<script src="{{ '/assets/webmention.js' | url }}"></script>