body {
    margin: 3vw; 
    font-family: 'Courier New', Courier, monospace;
    line-height: 1.2;
    max-width: 80ch;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, p {
    font-weight: normal;
    margin: 0;
    padding: 0;
    font-size: inherit;
}

.pre-wrap {
    white-space: pre-wrap;
}

.nowrap {
    white-space: nowrap;
}

.invisible {
    display: none;
}

a, a:hover, a:visited {
    color: black;
}

a[href*="//"]:not([href*="geff.re"])::after {
    content: "↗";
    display:inline-block;
}

a:hover {
    text-decoration: none;
    cursor: default;
}

.prefix--back-arrow::before {
    content: "←\00a0";
    display: inline-block; 
}

.prefix--reply-to::before {
    content: "<\00a0";
    display: inline-block; 
}

.no-list-style {
    list-style: none;
    padding: 0;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #000033;
        color: white;
        }
    
    a, a:hover, a:visited {
        color: white;
    }
}

#webmention-form {
    display: flex;
  }
  
  #webmention-form input[type="text"] {
    border: none;
    background-color: transparent;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    padding: 0;
    outline: none;
  }

  #webmention-form input[type="text"]:placeholder-shown {
    animation: blink 1s step-start infinite;
  }

  #webmention-form input[type="text"]:focus {
    animation: none;
    opacity: 1;
  }

  #webmention-form input[type="text"]::placeholder {
    font-weight: normal;
    color: inherit;
  }

  #webmention-form input[type="text"]:focus::placeholder {
    color: transparent;
  }

  @keyframes blink {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  
  #webmention-form button {
    border: none;
    background-color: transparent;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    padding: 0;
    text-decoration: underline;
  }
  
  #webmention-form button:hover {
    cursor: default;
    text-decoration: none;
  }
  
