body {
    margin: 3vw; 
    font-family: 'Courier New', Courier, monospace;
    line-height: 1.15;
    max-width: 80ch;
    overflow-x: hidden;
}

.pre-wrap {
    white-space: pre-wrap;
}

.nowrap {
    white-space: nowrap;
}

a, a:hover, a:visited {
    color: black;
}

a:hover {
    text-decoration: none;
    cursor: default;
}

.no-list-style {
    list-style: none;
    padding: 0;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #000033;
        color: white;
        }
    
    a, a:hover, a:visited {
        color: white;
    }
}