body {
    margin: 3vw; 
    font-family: 'Courier New', Courier, monospace;
    line-height: 1.2;
    max-width: 80ch;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, p {
    font-weight: normal;
    margin: 0;
    padding: 0;
    font-size: inherit;
}

.pre-wrap {
    white-space: pre-wrap;
}

.nowrap {
    white-space: nowrap;
}
.invisible {
    display: none;
}

a, a:hover, a:visited {
    color: black;
}

a[href*="//"]:not([href*="geff.re"])::after {
    content: "↗";
    display:inline-block;
}

a:hover {
    text-decoration: none;
    cursor: default;
}

.prefix--back-arrow::before {
    content: "←\00a0";
    display: inline-block; 
}

.no-list-style {
    list-style: none;
    padding: 0;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #000033;
        color: white;
        }
    
    a, a:hover, a:visited {
        color: white;
    }
}