---
title: Geffrey van der Bos - Product Designer
layout: 'base.njk'
--- 
<div class="pre-wrap">
========================
Geffrey van der Bos: 
Digital Product Designer
========================

I've spent years crafting user-centric software and guiding teams in developing digital products. I am based in the Netherlands and share a vibrant life with my wife, Julia, and our Shiba Inu, Loki.

<div class="nowrap">
|-----------+----------+----------|<br>
| <a href="https://geffreyvanderbos.com" title="Geffrey his portfolio website">Portfolio</a> | <a href="https://geffreyvanderbos.com" title="Geffrey his portfolio website">LinkedIn</a> | <a href="https://pkm.social/@geffrey" title="Geffrey on the PKM.Social Mastodon Instance">Mastodon</a> |<br>
|-----------+----------+----------|
</div>


Experience
----------

* Product Owner, Comecer Netherlands
Nov 2022 - Present
As a Product Owner, I manage both legacy and new software development, ensuring regulatory compliance and high-quality delivery for radiopharmacies worldwide.

* Product Owner, Kaios.ai
Sep 2021 - Nov 2022
Led a team developing AI models for infrastructure management, emphasizing scalable product development.

* Lead Product Designer, Bitfactory
Feb 2016 - Sep 2021
Specialized in user experience design, usability, bridging client teams and the development team. Mentored design colleagues and managing complex design projects.

* Branding and Marketing, Van der Bos
Aug 2017 - Feb 2019
Managed branding and marketing initiatives, contributing to marketing strategies, and aiding in SEO efforts for multiple projects.



Education
---------

* International Communications, Hanze University Groningen
Graduated with an 8/10 grade, demonstrating strong communication, research, and entrepreneurial skills, with a focus on innovative communication strategies.

* Visual Communication, Stuttgart Media University





===============================
This page is intentionally in plain text. Built to withstand the test of time.
</div>