---
title: Geffrey van der Bos - Product Designer
layout: 'base.njk'
---

<div class="pre-wrap">
========================
Geffrey van der Bos
Digital Product Designer
========================

I've spent years crafting user-centric software and guiding teams in developing digital products. I am based in the Netherlands and share a vibrant life with my wife, Julia, and our Shiba Inu, Loki.

<div class="nowrap">
|--------+------------+-----------|<br>
| <a href="/resume" title="Geffrey van der Bos his resume">Resume</a> | <a href="https://geffreyvanderbos.com" title="Geffrey his portfolio website">Portfolio</a> | <a href="https://pkm.social/@geffrey" title="Geffrey on the PKM.Social Mastodon Instance">Mastodon</a> |<br>
|--------+------------+-----------|
</div>

== Notes

</div>
<ul class="no-list-style">
    {%- for note in collections.notes -%}
    <li>
        {%- if note.data.type == "replyto" %}
            <article class="h-entry">
                <h2 class="p-name prefix--reply-to">Replying to "<a href="{{ note.data.replyto }}">{{ note.data.title | safe }}"</a>{%- if note.data.mention %} by <span class="h-card">{{ note.data.mention }}</span>{% endif -%}</h2>
                <p class="e-content">{{ note.content | safe }}</p>
                <a class="u-url" href="{{ note.url }}"><time class="dt-published">{{ note.date | asPostDate }}</time></a> 
            </article>
        <br><br><br>
        {% elseif note.data.type == "like" -%}
            <article><p class="e-content"><3 {{ note.data.likeoftitle }} by {{ note.data.likeofuser }}</p></article>
            <a class="u-like-of" href="{{ note.data.likeof }}"><time class="dt-published">{{ note.date | asPostDate }}</time></a> 
            <br><br><br>
        {% else %}
        <article class="h-entry">
            <h2 class="p-name">=== {{ note.data.title | safe }}</h2>
            <p class="e-content">{{ note.content | safe }}</p>
            <a class="u-url" href="{{ note.url }}"><time class="dt-published">{{ note.date | asPostDate }}</time></a> 
        </article>
        <br><br><br>
        {% endif -%} 
    </li>
    {% endfor %}
</ul>

<div class="pre-wrap">
===============================
This page is intentionally in plain text. Built to withstand the test of time.
</div>