---
title: The Plain Text Journal
layout: 'base.njk'
---

<div class="title">
  <h1 class="title-heading">The Plaintext Journal</h1>
  <div class="title-lead">We believe in the timeless essence of plain text.</div>
</div>
<div class="container">
  <div class="frontpage">
    <div class="fp-cell introduction">
      {% include "./pages/introduction.njk" %}
    </div>
      {%- for article in collections.articles | reverse -%}
      <div class="fp-cell">
          <article class="h-entry">
            <div class="fp-heading-excerpt">
              <a class="u-url" href="{{ article.url }}">
                  <h2 class="p-name">{{ article.data.title | safe }}</h2>
              </a>
              <p class="e-content">{{ article.data.page.excerpt }}</p>
            </div>
            <a class="u-url read-more" href="{{ article.url }}">[read more]</a>
          </article> 
      </div>
      {% endfor %}
    </div>
</div>