---
title: note
layout: base.njk
---

<ul class="no-list-style">
    {%- for note in collections.notes | reverse -%}
    <li>
        <article class="h-entry">
            <h1 class="p-name"> {{ note.data.title | safe }}</h1>
            <div class="e-content">{{ note.content | safe }}</div>
            <a class="u-url" href="{{ note.url }}">Permalink</a><time class="dt-published">{{ post.data.date }}</time>
        </article>
    </li>
    {% endfor %}
</ul>