---
title: note
layout: base.njk
---

<ul class="no-list-style">
    {%- for note in collections.notes | reverse -%}
    <li>
        <article>
            {{ note.content | safe }}
            <a href="{{ note.url }}">Permalink</a><time>{{ post.data.date }}</time>
        </article>
    </li>
    {% endfor %}
</ul>