@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&display=swap');

:root {
  --primary: #161616;
  --secondary: #ededed;
}

body {
    min-height: 100vh; 
    display: flex; 
    flex-direction: column; 
    font-family: 'Courier Prime', 'Courier New', Courier, monospace;
    line-height: 1.2;
    overflow-x: hidden;
    background-color: var(--secondary);
    color: var(--primary);
    margin: 0;
    padding: 0;
}

main, footer {
  max-width: 1280px;
  margin: 0 auto;
}

main {
  padding: 3rem 0;
  flex: 1;
}

footer {
  width: 100%;
  padding: 1rem 0;
  border-top: 1px solid var(--primary);
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    margin-bottom: 0;
}

.title {
  text-align: center;
  width: 100%;
  display: block;
}

.title-heading {
  font-size: calc(18px + 3vw);
  border-bottom: 1px solid var(--primary);
  margin: 0;
}

.title-lead, .articles-list {
  display: block;
}

.title-lead {
  padding: 1em 0;
}

.articles-list {
    list-style: none;
    padding: 0;
    margin-bottom: 2rem;
}

h1 { font-size: 1.476rem; }
h2 { font-size: 1.383rem; }
h3 { font-size: 1.296rem; }
h4 { font-size: 1.215rem; }
h5 { font-size: 1.138rem; }
h6 { font-size: 1.067rem; }
p { font-size: 1rem; }

a, a:hover, a:visited {
    color: var(--primary);
    text-decoration: underline 1px;
}

a[href*="//"]:not([href*="geff.re"]):not(.ignore-external-link)::after {
    content: "↗";
    display: inline-block;
}

a:hover, .fp-heading-excerpt a {
    text-decoration: none;
    cursor: default;
}

.table-wrapper {
  overflow-x: auto;
}

.container {
  overflow-x: hidden;
}

.frontpage {
  border-top: 1px solid var(--primary);
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  margin: 0 calc(-2rem + 1px) 0 -2rem;
}

.introduction {
  display: none;
}

@media only screen and (min-width: 768px) {
  .frontpage { grid-template-columns: repeat(2, 1fr); }
}

@media only screen and (min-width: 1024px) {
  .frontpage { grid-template-columns: repeat(3, 1fr); }
  .introduction, .fp-cell:nth-child(1) { display: block; }
  .fp-cell:nth-child(1) { grid-column: 1 / 2; grid-row: 1 / 6; }
  .fp-cell:nth-child(2) { grid-column: 2 / span 2; grid-row: 1 / span 1; }
}

@media only screen and (min-width: 1280px) {
  .frontpage { grid-template-columns: repeat(4, 1fr); }
  .fp-cell:nth-child(3) { grid-row: 1 / span 2; }
}

.fp-cell {
  padding: 2rem;
  border-right: 1px solid var(--primary);
  border-bottom: 1px solid var(--primary);
}

.h-entry {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.read-more {
  margin-top: auto;
}

.single-page {
  margin: 0 auto;
  max-width: 720px;
  max-width: 74ch;
}
